{% extends "base.html" %}

{% block title %} {% endblock title %}

{% block content %}
	
	<div class="posts">
		{% for post in posts %}
			<div class="post-card">
				{% if post.image %}
					<a href="{% url 'detail-post' post.id %}"><img class="post-image" src="{{ post.image.url }}" alt="post-image"></a>
				{% endif %}
				<div class="text-info">
					<h2><a class="post-title" href="{% url 'detail-post' post.id %}">{{ post.title }}</a></h2>
					<p class="post-publication-date">{{ post.publication_date }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	

{% endblock content %}